@font-face {
    font-family: "Poppins-Regular";
    src:
      local("Poppins-Regular"),
      url("../assets/fonts/poppins-regular/Poppins-Regular.ttf") format("truetype"),
      url("../assets/fonts/poppins-regular/Poppins-Regular.woff") format("woff"),
      url("../assets/fonts/poppins-regular/Poppins-Regular.woff2") format("woff2")
  }

@font-face {
    font-family: "Roboto-Regular";
    src:
      local("Poppins-Regular"),
      url("../assets/fonts/roboto-regular/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto-regular/Roboto-Regular.woff") format("woff"),
      url("../assets/fonts/roboto-regular/Roboto-Regular.woff2") format("woff2")
  }

body{
    margin: 0 0; 
    font-family: "Roboto-Regular";
    overflow-y: hidden;
}

#backgroundImage{
    display: grid;
    place-items: center;    
    background-image: url("../images/background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    z-index: 1;
}

#backgroundImage::after{
    content: '';
    background-color: ghostwhite;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .8;
    z-index: -1;
}

#conteudo{
    background: rgb(119,121,245);
    background: linear-gradient(180deg, rgba(119,121,245,1) 0%, rgba(168,56,229,1) 100%);
    width: 54vh;
    height: 60vh;
    border-radius: 6px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}

#conteudo p{
    text-transform: uppercase;
    text-align: center;
}

.conteudoCep{
    margin-top: -22vh;
   min-height: 75vh;
}

.conteudoCep label {
    text-transform: none;
    font-size: small;
    text-align: left !important;
    padding-left: 5vh;
    display: block;
    margin-bottom: -1.5vh;
}

.conteudoCalculadora{
    height: 56vh !important;
    width: 52vh !important;
}

.imageUsuario{
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 8vh auto auto auto;
}

.grupoBotoes{
    margin: 6vh 4vh 0 4vh;
}


/* INPUTS */

input[type=text], input[type=password]{
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    display: block;
    width: 75%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
    border: 1px solid #fff;
    margin: 2vh auto;
    border-radius: 6px;
    text-align: center;
}

input[type=text]:hover, input[type=password]:hover{
    background-color: ghostwhite;
}

input[type=text]:focus, input[type=password]:focus{
    border: 1px solid #fff;
    border-radius: 6px;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: #fff;
    opacity: 0.8;    
}

input[type=text]:hover::placeholder, input[type=password]:hover::placeholder {
    color: #000000;
}

.grupoBotoesCalculadora{
    padding: 0 3vh;
}

.inputVisorCalculadora{
    width: 74% !important;
    margin-left: 7.5% !important;
}

.botaoCalculadora{
    color: #FFFFFF;
    font-size: xx-large;
    width: 9vh;
    height: 9vh;
    margin: 1vh;
    background-color: #76C4F5;
    border: 1px solid #76C4F5;
    box-shadow: 1px 1px #000;
}

.botaoCalculadora:hover{
    background-color: #5995BA;
    border: 1px solid #5995BA;
}

/* BOTOES */

.botaoPadrao{
    font-family: "Roboto-Regular";
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    border-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    width: 22.7vh;
}

.botaoPadrao:hover{
    background-color: ghostwhite;;
    border-color: #B3B3B3;
    opacity: 0.8;
}

.botaoEntrar{
    background-color: #4351E8;
    border-color: #4351E8;
    color: #FFFFFF;
}

.botaoEntrar:hover{
    background-color: #212873;
    border-color: #212873;
}

.botaoLimpar{
    background-color: #C291E8;
    border-color: #C291E8;
    color: #FFFFFF;
}

.botaoLimpar:hover{
    background-color: #422A91;
    border-color: #422A91;
}

.botaoFechar{
    background-color: #39C078;
    border-color: #39C078;
    color: #FFFFFF;
}

.botaoFechar:hover{
    background-color: #1F6841;
    border-color: #1F6841;
}

.botaoBuscarCEP{
    height: 22px !important;
    width: 11.3vh;
    line-height: 0.5;
    font-size: smaller;
}

/* HEADER - MENU */
header {
    position: relative;
    width: 100%;
}

nav img{
    width: 80vh;
    opacity: 0.6;
}

.viaCepLogo img{
    padding: 1vh;
}

.viaCepLogo .imgLogoCorreios{
    width: 50vh;
    margin: 0 auto 1vh 0;
    display: block;
}

.inputsCEPs{
    height: 22px !important;
    text-align: left !important;
    padding-left: 15px !important;
}

.inputCEP{
    width: 16vh !important;
    margin-left: 5vh !important;
    margin-right: 1vh !important;
    display: inline !important;
}

/* CAIXA MODAL */
modal{
    display: none;
    font-family: "Roboto-Regular";
    color: #FFFFFF;
    position: absolute;
    background: rgb(119, 121, 245);
    background: linear-gradient(180deg, rgba(119, 121, 245, 1) 0%, rgba(168, 56, 229, 1) 100%);
    width: 30%;
    height: 25%;
    border-radius: 6px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;
    top: 38%;
    left: 35%;
}

.modalTitulo{
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    width: 95%;
    display: block;
    margin: 0 auto;
}

.modalMensagem{
    text-align: center;
    width: 95%;
    margin-top: 6vh;
}

modal a{
    margin: 6vh auto auto auto;
    display: block !important;
}


#loading{
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 100vh;
    text-align: center;
    background-color: #333333;
    opacity: 0.9;
}

#loading img{
    max-width: 8vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#loading p{
    color: #FFF;
}